################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitcutreApp/.vs/CleanArchitcutreApp/FileContentIndex/4e5f3100-4c46-4037-b5f0-fe2ab6cc0cc0.vsidx
/CleanArchitcutreApp/.vs/CleanArchitcutreApp/FileContentIndex/4e5f3100-4c46-4037-b5f0-fe2ab6cc0cc0.vsidx
/CleanArchitcutreApp/.vs/CleanArchitcutreApp/FileContentIndex/8f863f2f-d175-4933-a236-d43c69b4f937.vsidx
/CleanArchitcutreApp/.vs/CleanArchitcutreApp/FileContentIndex/7b6e3146-e5df-4142-8be3-284f81226c9e.vsidx
/CleanArchitcutreApp/.vs/CleanArchitcutreApp/FileContentIndex/b5fbec0c-ef7e-41a0-8dab-c58afbcf5fe2.vsidx
